* {
    margin: 0px;
    padding: 0px;
}

body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#main-doc {
    width: auto;
    margin: 0px auto;
}

#main-header{
    background: red;
    height: 100px;
    width: 100%;
    margin: 0px;
    /* Header Centering */
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}

#navbar {
    background: lightblue;
    line-height: 30px;
}

#navbar ul li {
      list-style: none;
      margin: 5px;
      padding: 5px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

aside {
    float: left;
    width: 30%;
}

#technical-doc {
    float: right;
    width: calc(70% - 60px);
    padding: 30px;
    background: green;
}

@media screen and (max-width: 600px) {
    aside {
      float: none;
      width: 100%;
    }
    #technical-doc {
        float: none;
        width: 100%;
    }

  }
/*
.nav-link {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

header {
    font-weight: bold;
    font-size: 22px;
}

p {
    font-size: 18px;
}

code {
    font-size: 15px;
}
*/
footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}