* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-doc {
    width: auto;
    margin: 0px auto;
}

#main-header{
    height: 130px;
    width: 100%;
    margin: 0px;
    /* Header Centering */
    text-align: center;
    line-height: 100px;
    color: white;
}

#navbar {
    min-height: 390px;
    line-height: 50px;
    text-align: center;
    
}

#navbar ul li {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

aside {
    float: left;
    /* width: 30%; */
    width: 200px;
}

#technical-doc {
    margin-left: 200px;
    /*
    The distribution of the nav and main content can be done by percentages
    width: calc(70% - 60px);
    */
    padding: 30px;
}

#header-nav {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    aside {
      float: left;
      width: 100%;
    }
    #technical-doc {
        float: right;
        width: 100%;
    }
  }
  
.nav-link {
    font-size: 15px;
}


header {
    font-weight: bold;

}

code {
    font-size: 15px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}